@font-face {
    font-family: Crystal;
    src: url(../fonts/Crystal.ttf);
}
html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; 
}
#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    opacity: .5;
    visibility: visible;
    z-index: 1;
    text-align: center;
    cursor: pointer;
}
#overlay-message {
    padding-top: 20%;
    font-size: 7em;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
    opacity: 2;
    -moz-text-size-adjust: auto;

}
.crystal-area, #middle-area {

    cursor: url("../images/blue-pickaxe-20x20.png") 10 10, auto;
}
body {
    position: absolute;
    background: lightgray;
    /*background-image: url("../images/hexbg.png");
    */


}
#title {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:  rgb(6, 192, 224);
    color: white;
    text-align: center;
    font-family: Crystal, Arial, Helvetica, sans-serif;
    padding: 1% 0 0 0;
    width: 100%;
    font-size: 3em;
}
#title-div {
    width: 100%;
    height: 8vh;
    background-color: black;
    visibility: hidden;
}
#middle-area {
    width: 100%;
}
#crystal-area-top {

    width: 100%;
    height: 30vh;
}
#crystal-area-bottom {
    width: 100%;
    height: 37vh;
}
#crystal-area-left, #crystal-area-right {
    width: 39vw;
    height: 25vh;
}
#crystal-area-left {
    float: left;
}
#crystal-area-right {
    float: right;
}
#crystal-buttons {
    text-align: center;
    top: 0;
    width: auto;
    min-width: 20vw;
    height: 25vh;
    display: inline-block;
    visibility: hidden;
}
.c-button {
    height: 25%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid gray;
    border-top: 2px solid gray;
    cursor: url("../images/blue-pickaxe-50x50.png") 10 10, auto;
    background: linear-gradient(lightgray,white);
}
.c-button:active {
    border: 2px solid gray;
    background: linear-gradient(white,lightgray);
}
.c-button:focus {
    outline: none;
}
.crystal {
    height: 100px;
    margin: 0;
    padding: 0;
    display: inline-block;
    user-select: none;
    -webkit-user-drag: none;

}